img {
    max-width: 100%;
    max-height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightboxImage {
	width: 150px; 
	height: 150px; 
	object-fit: cover;
	object-position: 25% 25%; 
}